body{
   background-color: black;
     height: 100vh;
     color: #373737;
 }
 p{
   color: grey;
   font-size: 20px;
   font-family: Sans Serif;
   text-align: center;
 }
 h1{
   color: white;
   font-size: 50px;
   font-family: Roboto Condensed;
   text-align: center;
 }
