body{
  background-color: #373737;
    height: 100vh;
    color: #373737;
}
h1{
  marginn: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: transelatex(-50%);
  color: white;
  font-size: 100px;
  font-family: roboto;
}
p{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 310px;
  color: white;
  font-size: 50px;
  font-family: Sans Serif;
}
