body{
  background-color: black;
    height: 100vh;
    color: #373737;
}
h1{
  color: white;
  font-size: 50px;
  font-family: Roboto Condensed;
  text-align: center;
}
header{
  float: right;
  margin: 0;
}
