body{
  background-color: #373737;
    height: 100vh;
    color: #373737;
}
h1{
  color: white;
  font-size: 50px;
  font-family: roboto;
}
p{
  color: white;
  font-size: 20px;
  font-family: Sans Serif;
}
.section{
  color: red;
  font-size: 20px;
  font-family: Sans Serif;
}
