body{
  background-color: black;
    height: 100vh;
    color: #373737;
}
centre.{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border: 1px solid green;
}
h1{
  color: white;
  font-size: 50px;
  font-family: Roboto Condensed;
  text-align: centre;
}
p{
  color: grey;
  font-size: 20px;
  font-family: Sans Serif;
  text-align: centre;
}
