body{
  background-color: black;
    height: 100vh;
    color: #373737;
}
h1{
  color: white;
  font-size: 50px;
  font-family: Roboto Condensed;
  text-align: center;
}
p{
  color: white;
  font-size: 20px;
  font-family: Sans Serif;
  text-align: center;
}
ul{
  text-align: center;
}

style{
  <img src="slope.png" alt="logo"
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p2{
  color: white;
  font-size: 20px;
  font-family: Sans Serif;
  text-align: center;
}
