body{
   background-color: black;
     height: 100vh;
     color: #373737;
     margin: auto;
     text-align: center;
 }
 h1{
   color: white;
   font-size: 50px;
   font-family: Roboto Condensed;
   text-align: center;
 }
 p{
   color: grey;
   font-size: 20px;
   font-family: Sans Serif;
   text-align: center;
 }
body {
    background: dodgerblue linear-gradient(45deg, black, #87ae73, white) fixed;

}
#comment-box, #post {
    border: none;
    border-radius: 5px;
}
#post:hover{
    background-color: grey;
}
