*{
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
}

header{
  background-color: black;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul{
  float: left;
  list-style-type: none;
  
  ul li{
     display: inline-block;
  }
  
  ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid white;
  }



