*{
  margin: 0;
  padding: 0;
  font-family: Alegreya;
}
header{
  background-image: url(background.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
ul{
  float: left;
  list-style-type: none; 
}
ul li{
  display: inline-block;
}
  
