tittle{
  color: white;
  font-size: 40px;
  font-family: Sans Serif;
}  
body{
  background-color: grey;
  height: 100vh;
  color: grey;
}
header{
  float: right;
  color: white;
  font-family: Sans Serif;
  word-spacing: 5px;
}
head{
  <img src="logo.png" alt="logo"
  style="float: left;
  position: relative;
    top: -15px;
    width: 150px;
}
ul li{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  border: 1px solid transparent;
}
ul li : hover{
  background-color: #18A558;
  color: white;
}
