*{
  margin: 0;
  padding: 0;
  font-family: Sans-serif;
}
header{
  background-image: url(background.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
ul{1px solid
  float: right;
  list-style-type: none; 
}
ul li{
  display: inline-block;
}
.header:after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0;
}
ul li a{
  text decoration: none;
  color: #ffffff;
  padding: 5px 20px
  border: 1px solid #fff;
  transition: 0.6s ease;
}
u li a: hover{
  background color: #fff
  color: #6aec6a
}
ul li.active a{
  background color: #fff
  color: #6aec6a
}
.logo img{
  float: left;
  width:  150px;
  height: auto;
}
.main{
  max-width: 1200px;
  margin: auto;
}
.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.title h1{
  color:#fff;
  font-size: 70px;
}

