tittle{
  color: white;
  font-size: 40px;
  font-family: Sans Serif;
}  
body{
  background-color: #040720;
  height: 100vh;
  color: #040720;
}
h1{
  text-align: center;
  color: #18191A
  font-family: open sans;
}
}
header{
  float: right;
  color: white;
  font-family: Sans Serif;
  word-spacing: 5px;
}
head{
  <img src="logo.png" alt="logo"
  style="float: left;
  height: 100px;
  width: 111px;
  position: relative;
  top: -15px;
}
ul li{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  border: 1px solid transparent;
}
ul li a:hover{
  color: #18A558;
}
