*{
  margin: 0;
  padding: 0;
  font-family: Alegreya;
}
header{
  background-image: url(background.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
ul{1px solid
  float: left;
  list-style-type: none; 
}
ul li{
  display: inline-block;
}
ul li a{
  text decoration: none;
  color: #ffffff;
  padding: 5px 20px
  border: 1px solid #ffffff;
  transition: 0.6s ease;
}
u li a: hover{
  background color: #ffffff
  coolor: 6aec6a
}
.logo img{
  float: right;
  width:  250px;
  height: auto;
}
