tittle{
  color: white;
  font-size: 40px;
  font-family: Sans Serif;
}  
body{
  background-color: grey;
  height: 100vh;
  color: grey;
}
header{
  float: right;
  margin-top: 25px
}
ul{
  <img src="logo.png" alt="logo"
  style="float: left; 
  margin-right: 25px;">
  width: 150px;
  height: auto;
}
ul li{
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  border: 1px solid transparent;
}
ul li : hover{
  background-color: neon green;
  color: white;
  text-align: center;
}
