tittle{
  color: white;
  font-size: 40px;
  font-family: Sans Serif;
}  
body{
  background-color: #040720;
}
h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
  color: white;
  font-family: open sans;
}
}
header{
  text-align: right;
  list-style-type: none;
  margin-top: 25px;
  color: white;
  font-family: Sans Serif;
  word-spacing: 5px;
}
head{
  <img src="logo.png" alt="logo"
  style="float: left;
  border-radius: 8px;
  height: 100px;
  width: 111px;
  position: absolute;
  top: 20px;
}
ul{
  text-align: right;
}
ul li{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: white;
  border: 1px solid transparent;
}
ul li a:hover{
  color: #18A558;
}
