*{
  margin: 0;
  padding: 0;
  font-family: Alegreya;
}
header{
  background-image: url(background.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
ul{1px solid
  float: right;
  list-style-type: none; 
}
ul li{
  display: inline-block;
}
ul li a{
  text decoration: none;
  color: #ffffff;
  padding: 5px 20px
  border: 1px solid #fff;
  transition: 0.6s ease;
}
u li a: hover{
  background color: #fff
  color: 6aec6a
}
ul li.active a{
  background color: #fff
  color: 6aec6a
}
.logo img{
  float: left;
  width:  150px;
  height: auto;
}
.main{
  max-width: 1200px;
  margin: auto;
}
