tittle{
  color: white;
  font-size: 40px;
  font-family: Sans Serif;
}  
body{
  background-color: black;
  height: 100vh;
  color: black;
}
header{
  float: right;
}
ul{
  float: left;
  list-style-type: none;
  margin-top: 25px
}
ul li{
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  border: 1px solid white;
}
ul li : hover{
  background-color: neon green;
  color: white;
}
