tittle{
   color: white;
 }  
 body{
   background-color: black;
 }
 head{
   <img src="logo.png" alt="logo"
 }
 ul{
   text-align: center;
   font-size: 20px;
   list-style-type: none;
   margin-top: auto;
   color: white;
   font-family: Sans Serif;
 }
 ul li{
   display: inline-block;
   padding: 5px;
   border: 1px solid transparent;
 }
 ul li a:hover{
   background: #18A558;
   box-shadow:0 0 5px #18A558, 0 0 25px #18A558, 0 0 50px #18A558, 0 0 200px #18A558;
 }
