tittle{
  color: white;
  font-size: 40px;
  font-family: Sans Serif;
}  
body{
  background-image: url("background (1).png");
  height: 100vh;
  color: black;
}
header{
  float: right;
  color: white;
  font-family: Sans Serif;
  word-spacing: 5px;
}
head{
  <img src="logo.png" alt="logo"
  style="float: left;
  height: 100px;
  width: 111px;
  position: relative;
  top: -15px;
}
ul li{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 5px 20px;
  border: 1px solid grey;
}
ul li:hover{
  color: #18A558;
}
