tittle{
  color: white;
  font-size: 40px;
  font-family: Sans Serif;
}  
body{
  background-color: #040720;
}
h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
  color: white;
  font-family: open sans;
}
}
header{
  text-align: right;
  list-style-type: none;
  margin-top: 25px;
  color: white;
  font-family: Sans Serif;
  word-spacing: 10px;
}
head{
  <img src="logo.png" alt="logo"
  style="float: left;
  border-radius: 8px;
  height: 100px;
  width: 111px;
  position: absolute;
  top: -15px;
}
ul{
  text-align: right;
}
.nav{
  position: relative;
  border: none;
  display: flex;
  list-style-type: none;
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
}
.nav li{
  margin:0;
}
.nav li a{
  position: relative;
  padding: 10px 36px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff
  display: inline-flex;
  z-index: 3;
}
.nav.slide{
  position: absolute;
  display: inline-flex;
  height:5px;
  bottom:5px;
  transition: 0.5s cubic-bezier(0.237, 1, 0.32, 1.05);
  z-index:2;
  background-color:#7fffd4;
}
ul li a:hover{
  background: #18A558;
  box-shadow:0 0 5px #18A558, 0 0 25px #18A558, 0 0 50px #18A558, 0 0 200px #18A558;
}

